body {
    background-color: #2b7ae2;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #fff;
    padding: 8px;
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
}