html {
    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body {
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: 800;
}

.mosca1 {
    width: 60px;
    height: 60px;
}

.mosca2 {
    width: 75px;
    height: 75px;
}

.mosca3 {
    width: 85px;
    height: 85px;
}

.ladoA {
    transform: scaleX(1);
}
.ladoB {
    transform: scaleX(-1);   
}
