.container-1 {
    border: 1px solid gray;
    width: 20%;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 15px;
}

.container-2 {
    display: flex;
    border: 1px solid gray;
    width: 20%;
    text-align: center;
    padding: 20px;
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
}