
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --supInfo: #fff;
  --sobInfo: #aaa;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto","Arial",sans-serif;
    box-sizing: border-box;
    outline: none;
  }

  body {
    display: grid;
    grid-template-columns: 1fr 17fr 1fr 1fr;
    grid-template-areas: 
    "header header header header header"
    ". conteudo aside . ."
    "footer footer footer footer footer"
    ;
    height: 100vh;
    background-color: #0F0F0F;
    font-family: 'Roboto', sans-serif;
  }
  
.header {
  grid-area: header;
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  background-color: #0F0F0F;
}

nav {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
}

.meutitulo {
  color: #fff;
  letter-spacing: -1px;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 25px;
  margin-right: 25px;
}

.pesquisa {
  border: none;
  padding: 10px;
  border-radius: 30px 0 0 30px;
  font-size: 16px;
  border: 1px solid #303030;
  color: #fff;
  background-color: #121212;
  width: 80%;
}

.searchIconField {
  position: relative;
  width: 48px;
  border-radius: 20px 0 0 20px;
  height: 39px;
}

.pesquisaIcon {
  display: none;
  top: 0;
  left: 0;
  z-index: 50;
  position: absolute;
}

.inputSearchGroup {
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 680px;
}

.pesquisa:focus {
  border: 1px solid #065fd4;
}

.buttonPesquisa {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  width: 75px;
  color: #fff;
  background-color: #282828;
  border: none;
  border-radius: 0px 20px 20px 0px;
}

.btn-micro {
  width: 45px;
  display: flex;
  align-items: center;
  height: 45px;
  justify-content: center;
  margin-left: 25px;
  border-radius: 50%;
}

.microfone {
  color: #fff;
  font-size: 18px;
}

.btn-micro {
  background-color: #dfdfdf18;
}

.btn-micro:hover {
  cursor: pointer;
  background-color: #717171;
}

.content {
  padding: 24px 24px 0 0;
  margin: 0 0 0 24px;
  grid-area: conteudo;
}

.videoPlayer {
  width: 100%;
  height: 727px;
}

.titulo {
  position: relative;
  font-size: 16px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 5px;
}

.contry {
  position: absolute;
  font-size: 10px;
  right: -20px;
  color: #AAAAAA;
  top: 0;
}

.hamburger {
  width: 28px;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  margin-right: 25px;
}

.hamburger:hover {
  background-color: #dfdfdf18;
  cursor: pointer;
}

.toggle {
  display: flex;
  align-items: center;
  margin-top: 12px;
  flex-direction: column;
}

.line {
  background-color: #fff;
  width: 20px;
  margin-bottom: 5px;
  height: 1px;
}

.block-informacoes {
  display: flex;
  flex-direction: column;
}

.informacoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.block-informacoes .titleVideo {
  color: var(--supInfo);
  line-height: 40px;
  font-size: 21px;
}

.infoCanal {
  display: flex;
}

.perfilCanal{
  margin-right: 10px;
  border-radius: 100%;
}

.nomeCanal {
  color: var(--supInfo);
  font-size: 14px;
}

.block-informacoes h4 {
  font-size: 1.34rem;
  font-family: "Roboto","Arial",sans-serif;
}

.subInfo  {
  color: #aaa;
  font-size: 0.75rem;
  margin-top: -50px;
  font-family: "Roboto","Arial",sans-serif;
}

.btn {
  border-radius: 25px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 11px;
}

.inscrito {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.seja-membro {
  display: block;
  background-color: #282828;
  color: #fff;
}

.seja-membro:hover {
  background-color: #3F3F3F;
}

.pesquisaIcon {
  display: none;
  color: #787878;
}

.videoIcon {
  color: #787878;
}

.notificacaoIcon {
  color: #787878;
}

.inscreva-se {
  width: 109px;
  height: 36px;
}

button.btn:hover {
  cursor: pointer;
  filter: brightness(95%);
}

.buttonInscrito {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.buttonInscrito {
  margin-left: 30px;
  border-radius: 0 20px;
  gap: 10px;
}

.buttons {
  display: flex;
  width: 452px;
  margin-right: 17px;
  height: 43px;
  gap: 10px;
}

.btn-like {
  background-color: #282828;
  color: #fff;
  display: flex;
  align-items: center;
  width: 97px;
  font-size: 14px;
  height: 36px;
  border-radius: 20px 0px 0px 20px;
}

.btn-like:hover {
  background-color: #3F3F3F;
}

.like {
  font-size: 17px;
  margin-right: 5px;
}

.btn-dislike {
  background-color: #282828;
  color: #fff;
  font-size: 17px;
  margin-right: 5px;
  border-radius: 0px 20px 20px 0px;
}

.btn-dislike:hover {
  background-color: #3F3F3F;
}

.likeAndDislike {
  height: 36px;
  display: flex;
}

.bNotificao {
  font-size: 17px;
  margin-right: 5px;
}

.bConfigNotificao {
  font-size: 17px;
  margin-left: 5px;
}

.compartilhar {
  font-size: 17px;
  margin-right: 5px;
}

.clipe {
  font-size: 17px;
  margin-right: 5px;
}

.download {
  font-size: 17px;
  margin-right: 5px;
}

.btn-compartilhar {
  font-size: 14px;
  width: 138px;
  height: 36px;
}

.description {
  background-color: #ffffff1a;
  color: #f1f1f1;
  font-weight: 400;
  height: 10rem;
  padding: 8px;
  color: #fff;
  border-radius: 10px;
  width: 100%;
}

.viewsAndSentDate {
  color: #f1f1f1;
  margin: 5px 0;
  font-size: 14px;
}

.linkDescription {
  color: #3EA6FF;
}

.aside {
  grid-area: aside;
  padding: 24px 24px 0 0;
  height: 100vh;
  width: 426px;
}

.chatbox {
  border-radius: 5px;
  background-color: #202020;
  border: 1px solid #3F3F3F;
  border-radius: 15px;
}

.mainMessages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #202020;
  border-radius: 15px 15px 0px 0px;
  border: 0.8px solid #3F3F3F;
  color: #fff;
  height: 60px;
}

.juntarElementos {
  display: flex;
  gap: 10px;
}

.juntarElementos h4 {
  font-weight: 510;
  margin-left: 25px;
}

.elipse {
  margin-right: 25px;
}

.chatUserMessage {
  display: flex;
  flex-direction: column;
}

.messages::-webkit-scrollbar {
  background-color: #0F0F0F;
  width: 15px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #333333;
  height: 20px;
}

.messages{
  overflow-y: scroll;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scrollbar-color: #181818;
  scrollbar-track-color: #181818;
  background-color: #181818;  
}

.message {
  display: flex;
  margin: 5px auto;
  padding: 4px 24px;
  word-wrap: break-word;
  justify-content: center;
  align-items: flex-start;
}

.message span {
  color: #BABABA;
  font-size: 14px;
}

.message p {
  color: #fff;
  font-size: 14px;
}

.message .profilePhoto {
  margin-right: 10px;
}

.myProfile {
  width: 43px;
}

.profilePhoto {
  border-radius: 100px;
}

.myMessage {
  padding: 16px;
}

.mesclaSendMessage {
  display: flex;
}

.nomeInput {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #fff;
}

.nomeInput span {
  color: #BABABA;
  font-size: 14px;
}

.nomeInput input[type="text"] {
  border: none;
  color: #fff;
  word-wrap: break-word;
  word-break: break-all;
  margin: 7px 0;
  width: 90%;
  font-size: 14px;
  background-color: transparent;
  border-bottom: 2px solid #333333;
}

.nomeInput input[type="text"]:focus {
  border-bottom: 2.5px solid #2793E6;
  transition: .5s all ease-in-out;
}

.mesclaSendMessage2 {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.mesclaSendMessage2 .qtdLetters {
  font-size: 12px
}

.sendAndCountLetter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.iconChat {
  font-size: 18px;
  padding: 8px;
}

.ShowAndHideChat {
  width: 100%;
}

.myMessage hr {
  width: 95%;
  opacity: 0.07;
  margin: 5px auto;
}

.ShowAndHideChat button {
  color: #fff;
  width: 100%;
  background-color: transparent;
}

.ShowAndHideChat button:hover {
  background-color: #4D4D4D;
  cursor: pointer;
}

.topics {
  overflow: hidden;
}

.buttonTopics {
  display: flex;
  width: 100%;
  gap: 15px;
  transform: translateX(0px);
  margin: 25px 0;
}

.selecionado{
  color: #282828;
  background-color: #ffff;
  border-radius: 8px;
}

button.btn.btn-topics  {
  border-radius: 8px;
  text-wrap: nowrap;
  transition: background 1s;
  color: #fff;
  background-color: #3c3c3c;
}

.btn.btn-topics:hover {
  background-color: #717171;
}

.videos {
  display: flex;
  flex-direction: column;
}

.videoContainer {
  display: flex;
  gap: 10px;
  margin: 5px 0;
  width: 402px;
  height: 92px;
}

.videoThumbNailImgDuration {
  position: relative;
}

.videoThumbNailDurationTime {
  font-size: 12px;
  margin: 4px;
  padding: 3px 4px;
  background-color: #000000CC;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
}

.videoThumbnail {
  border-radius: 10px;
}

.videoThumbNailTitle {
  font-size: 14px;
  margin: 0 0 4px;
  color: #f1f1f1;
}

.thumbnailCanal {
  font-size: 12px;
  margin: 4px 0;
  color: #AAAAAA;
}

.thumbnailIcon {
  margin: 0 4px;
  color: #AAAAAA;
  font-size: 12px;
}

.thumbnailViewsAndSentDate {
  color: #AAAAAA;
  margin: 4px 0;
  font-size: 12px;
}

.videoNovo {
  padding: 3px 4px;
  background-color: #FFFFFF1A;
  color: #AAAAAA;
  width: 37px;
  font-size: 12px;
  height: 18px;
}

.configThumbnail {
  color: #AAAAAA;
}


@media screen and (min-width: 500px) and (max-width: 600px) {
  body {
    display: grid;
    width: 500;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "conteudo"
    "aside"
    ;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }
  .videoPlayer {
    width: 450px;
    height: 300px;
  }
  .description {
    width: 450px;
  }
}