@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    place-content: center;
    user-select: none;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: red;
}

#banner {
    background-image: url(images/Banner2.webp);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.nome {
    color: white;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-85%);
    position: absolute;
    letter-spacing: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

nav{
    justify-content: center;
    padding: 2vh;
    position: relative;
    width: 100%;
    position: fixed;
    z-index: 5;
}

.logo {
    left: 100px;
    position: absolute;
    color: #000;
    letter-spacing: 5px;
    font-weight: bold;
}

ul {
    gap: 30px;
    margin-right: 10vh;
    justify-content: right;
    display: flex;
    color: white;
}

li {
    list-style: none;
    letter-spacing: 2px;
}

a {
    background-image: linear-gradient(to right,red,
  red 50%,#000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.7s ease-in-out;
    color: white;
    font-weight: 700;
}

a:before {
    content: '';
    background: red;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
}

a:hover {
    background-position: 0;
}

a:hover::before {
    width: 100%;
}

a {
	text-decoration: none;
	color: #000;
	position: relative;
	letter-spacing: 2px;
	margin: 1.1vh;
}

a:after {
		content: "";
		position: absolute;
		background-color: #ff0000;
		height: 3px;
		width: 0;
		left: 0;
		bottom: -10px;
		transition: 0.3s;
}

a:hover:after{
	width: 100%;
}

h1 {
    color: #000;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-85%);
    position: absolute;
    letter-spacing: 10px;
}

.letras-de-musicas {
    width: 100%;
    height: 100%;
}

.nome-enemy {
    margin-left: 41vh;
    margin-bottom: 0.5vh;
    color: #000;
    font-size: 5vh;
}

.nome-ride {
    margin-top: -6vh;
    margin-left: 90vh;
    margin-bottom: 0.5vh;
    color: #000;
    font-size: 5vh;
}

.nome-meduza {
    margin-left: 140vh;
    margin-top: -6.5vh;
    margin-bottom: 0.5vh;
    color: #000;
    font-size: 5vh;
}

.enemy-letra{
    width: 15%;
    margin-left: 35vh;
    position: absolute;
}

.ride-letra{
    position: absolute;
    width: 15%;
    margin-left: 84vh;
}
.meduza-letra{
    position: absolute;
    width: 15%;
    margin-left: 133vh;
}

.audios {
    margin-left: 16vh;
}

audio {
    margin-top: 85vh;
    margin-left: 10rem;
    width: 18%;
    border-radius: 10px;
    z-index: 2;
}

.enemy {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 17.4vh;
    margin-top: 59.7vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    z-index: -1;
}

.ride {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: -32vh;
    margin-top: 59.7vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    z-index: -1;
}

.meduza {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: -31.7vh;
    margin-top: 59.3vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    z-index: -1;
}