@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto+Slab:wght@100;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #C22F;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    width: 540px;
    height: 520px;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.container h1 {
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}

.container input {
    margin: 5px 0 15px 0;
    font-size: 16px;
    width: 100%;
    padding-left: 10px;
    height: 30px;
}

.container select {
    margin: 5px 0 15px 0;
    font-size: 16px;
    width: 100%;
    padding-left: 10px;
    height: 30px;
}

.container input:focus {
    color: #C22F;
    border: 1px solid #C22F;
}

.container form button {
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px;
    background-color: #C22F;
    border: none;
    color: #fff;
}

.container form button:hover {
    transition: 0.3s;
    filter: brightness(85%);
}

.sucesso {
    border: 1px solid green;
}

@media screen and (min-width: 320px) and (max-width: 480px) { /*  CELULAR  */
    body {
        width: 97.5%;
        min-width: 320px;
    }
    .container {
        margin: 10rem auto;
        width: 310px;
        padding: 15px 15px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) { /*  TABLET  */
    body {
        min-width: 481px;
        width: 98.4vw;
    }
    .container {
        margin: 13rem auto;
        width: 440px;
        padding: 15px 15px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) { /*  LAPTOP  */
    body {
        width: 97.5%;
        min-width: 769px;
    }
    .container {
        margin: 15rem auto;
        width: 700px;
        padding: 15px 15px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) { /*  DESKTOP  */
    body {
        width: 97.5%;
        min-width: 1024px;
    }
    .container {
        margin: 15rem auto;
        min-width: 420px;
        padding: 15px 15px;
    }
}

@media screen and (min-width: 1201px) { /*  DESKTOP  */
    body {
        width: 97.5%;
        min-width: 1024px;
    }
    .container {
        margin: 15rem auto;
        min-width: 470px;
        padding: 15px 15px;
    }
}